body {
    background-color: #fff;
}

.main-header {
	margin-bottom: 10px;
	text-align: center;
}

.main-header h1 {
	font-size: 30pt;
	font-weight: bold;
	color: red;
	padding-bottom: 10px;
	border-bottom: thick solid grey;
}

.header {
	margin-bottom: 20px;
}

.header h1 {
	margin: 0;
	font-size: 15vmin;
	text-align: center;
}

.player-org-wrapper {
	text-align: center;
}

.player-org {
	display: inline-block;
	border-radius: 0.3em;
	background-color: lightgrey;
	padding: 0.3em;
}

.spinner {
	text-align: center;
	font-size: 10vw;
	color: lightgrey;
}

.granted-banner {
	color: white;
	background-color: green;
	font-weight: bold;
	font-size: 12pt;
	text-align: center;
	padding: 5px;
	margin-bottom: 20px;
}

.glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.quick-links {
	margin-top: 10px;
	margin-bottom: 10px;
}

.message {
	font-size: 15pt;
	width: 30%;
	text-align: center;
	margin-left: auto !important;
	margin-right: auto !important;
	background-color: #F0D0D0;
	border: thin solid #E0E0E0;
	border-radius: 10px;
	padding: 5px;
	margin: 10px 0 10px 0;
}

.qr {
	width: 80%;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.qr object {
	width: 100%;
}

.footer {
	margin-top: 20px;
	border-top: thin solid lightgrey;
	padding-top: 10px;
}

.rcbmi-tag {
	margin-top: 20px;
}

.rcbmi-tag img {
	width: 95%;
}

.login {
	font-size: 12pt;
    padding: 20px 15px;
    text-align: center;
}

.login a, .login a:visited {
	color: lightgrey;
	text-decoration: none;
	cursor: pointer;
}

.login input {
	margin-bottom: 15px;
}

.content {
    padding: 40px 15px;
}

.achievement {
	text-align: center;
	padding: 10px;
	display: inline-block;
	width: 150px;
}

.achieved {
	opacity: 0.5;
}

.dashboard-metric {
	width: 40%;
	max-width: 200px;
	text-align: center;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	color: grey;
}

.dashboard-metric img {
	width: 80%;
}

.dashboard-metric-value {
	font-size: 50pt;
	color: black;
	font-weight: bold;
}

.input-form {
	font-size: 16pt;
	width: 90%;
}

.input-form input {
	font-size: 18pt;
}