<div class="content container-fluid">
	<div class="main-header">
		<img style="width:95%" src="images/rcbmi_tag.png" />
		<h1>Treasure Hunt</h1>
	</div>
	<div class="announcement">
	</div>
	<div class="metrics">
		<div class="dashboard-metric">
	    	<img src="images/person.png" /><br/>
	    	<p class="dashboard-metric-value">{{ numberOfPlayers }}</p>
	    	<p>active players</p>
		</div>
		<div class="dashboard-metric">
			<img src="images/trophy.png" /><br/>
			<p class="dashboard-metric-value">{{ numberAchieved }}</p>
			<p>found treasures</p>
		</div>
	</div>
	<div class="footer">
		<a href="https://twitter.com/regenstrief"><img width="30" src="images/Twitter_Logo_Blue.png" /></a> @Regenstrief #treasurehunt 
	</div>
</div>
