<div class="content container-fluid">
	<div class="main-header">
		<img style="width:95%" src="images/rcbmi_tag.png" />
		<h1>Treasure Hunt</h1>
	</div>
	<div class="announcement">
	</div>
	<p>
		Welcome to the Regenstrief Treasure Hunt. This is a game for
		<a href="https://www.amia.org/amia2018">AMIA 2018</a>, where 
		players search for Regenstrief treasures and, in return, those who are most successful are entered into a raffle for a Fitbit Versa.
	</p>
	<h2>Why a Treasure Hunt?</h2>
	<p>
		We're hoping you will not only enjoy the chance to win a Fitbit Versa, but also take the opportunity to introduce yourself or re-connect with our Regenstrief faculty. We're proud of them and have no doubt there are amazing, untapped opportunities to collaborate with you toward better care and better health for the world.
	</p>
	<h2>Join the Hunt!</h2>
	<img style="float:right; width:25%; max-width:100px" src="images/paper-thumbnail.png" />
	<p>
		To join the treasure hunt, visit Regenstrief's booth and enroll. It's easy! Once you have enrolled, you can scan your own QR code or use the provided short link to track your progress.
	</p>
	<div class="dashboard-metrics">
		<div class="dashboard-metric">
    		<img src="images/person.png" /><br/>
    		<p class="dashboard-metric-value">{{ numberOfPlayers }}</p>
    		<p>active players</p>
		</div>
		<div class="dashboard-metric">
			<img src="images/trophy.png" /><br/>
			<p class="dashboard-metric-value">{{ numberAchieved }}</p>
			<p>found treasures</p>
		</div>
	</div>
	<h2 class="rules">Rules of the Game</h2>
	<ul>
		<li>First of all, have fun! &#x1F600;</li>
		<li><b>Find Regenstrief faculty and have them scan your QR code.</b></li>
		<li>No proxy scanning. Please do not ask to have a friend's QR code scanned or ask your friend to get your QR scanned. Our faculty have been instructed only to scan the QR code for the person in front of them. After all, the point of the game is for you to meet our faculty.</li>
		<li>The top 25% of players who find the most treasure will be entered into a raffle to win a Fitbit Versa.</li>
		<li>We must have some way to contact you (phone or email) for you to win.</li>
		<li>Regenstrief faculty and staff are not allowed to play. Y'know, that whole conflict of interest thing. &#x1F609;</li>
	</ul>
	<h2>Privacy</h2>
	<p>
		We respect your privacy, will keep any contact information secure, and will only use contact information for the purpose of this game.
	</p>
	<div class="footer">
		<a href="https://twitter.com/regenstrief"><img width="30" src="images/Twitter_Logo_Blue.png" /></a> @Regenstrief #treasurehunt 
	</div>
</div>
