
<div class="content container-fluid">

	<div ng-hide="player().id">
		<div class="spinner">
			<span class="glyphicon glyphicon-repeat fast-right-spinner"></span>
		</div>
	</div>

	<div ng-show="player().id">
		<div class="granted-banner" ng-show="grantedAchievement()">
			Awarded
		</div>
		<div class="header">
			<div ng-show="player().name">
				<h1>{{ player().name }}<h1>
				<div class="player-org-wrapper">
					<h2 class="player-org">{{ player().org }}</h2>
				</div>
			</div>
			<div ng-show="!player().name && !isAuthenticated()">
				<h1>Unknown player <small>{{ player().org }}</small></h1>
				<h2>Go to the Regenstrief booth and ask them to register your name.</h2>
			</div>
			<div ng-show="!player().name && isAuthenticated()">
			</div>
		</div>
		<div ng-show="isAuthenticated() && !player().name">
			<p>This player's name has not yet been entered. Please help out and record this player's name and organization.</p>
			<div class="message" ng-show="nameFormError">
				{{ nameFormError }}
			</div>
			<div class="form-group">
				<label for="newName">Player's Name</label>
				<input type="text" class="form-control" id="newName" ng-model="newName" placeholder="Name" onFocus="this.select()" />
			</div>
			<div class="form-group">
				<label for="newOrg">Player's Organization</label>
				<input type="text" class="form-control" id="newOrg" ng-model="newOrg" placeholder="Organization" onFocus="this.select()" />
			</div>
			<button class="btn btn-default" ng-click="updatePlayerNameAndOrg(newName, newOrg)">Submit</button>
		</div>
		<div class="intro" ng-hide="isAuthenticated()">
			<p>Welcome to the Regenstrief Treasure Hunt!
			<span ng-show="numAchieved() == 0">
				Time to start hunting for treasure! Find someone below and have them scan your QR code.</span>
			<span ng-show="numAchieved() > 0 && numAchieved() < 5">
				You're on your way. Keep hunting for Regenstrief treasures.
			</span>
			<span ng-show="numAchieved() >= 5 && numAchieved() < 15">
				You've found {{ numAchieved() }} of Regenstrief's treasures.
			</span>
			<span ng-show="numAchieved() >= 15 && numAchieved() < 20">
				You've found {{ numAchieved() }} of Regenstrief's treasures. Impressive!
			</span>
			<span ng-show="numAchieved() >= 20">
			You're clearly a master treasure hunter. Well done!
			</span>
			</p>
		</div>
		<div ng-show="isAuthenticated()">
			<h3>has found...</h3>
		</div>
		<div class="row-fluid">
			<div class="achievement" ng-repeat="g in goals() | orderBy:goalSorter" ng-show="!isAuthenticated() || hasAchieved(g)">
				<a ng-href="{{g.url}}" target="_blank">
				<div style="position: relative; left: 0; top: 0;">
					<img ng-src="{{g.image_url}}" ng-class="hasAchieved(g)?'achieved':''" width="100" style="position: relative; top: 0; left: 0px;"/>
					 <img ng-show="hasAchieved(g)" src="images/award.png" width="100" style="position: absolute; top: 0px; left: 50px; opacity:1.0"/>
				</div>
				{{g.name}}
				</a>
			</div>
		</div>

		<div class="qr" ng-show="player().url && !isAuthenticated()">
			<object ng-attr-data="/api/players/{{player().id}}/qr" type="image/svg+xml"></object>
		</div>

		<div class="login" ng-hide="!showLoginForm || isAuthenticated()">
			<input type="text" placeholder="username" ng-model="user.username" ng-keyup="(user.username=user.username.toLowerCase()) || ($event.keyCode == 27) && (showLoginForm=false)" onFocus="this.select()" show-focus="showLoginForm && !isAuthenticated()" /><br/>
			<input type="password" placeholder="password" ng-model="user.password" ng-keyup="(($event.keyCode == 13) && login()) || (($event.keyCode == 27) && (showLoginForm=false))" onFocus="this.select()" /><br/>
			<input type="button" value="Log In" ng-click="login()" />
			<a ng-click="toggleLoginForm()">cancel</a>
		</div>
		<div class="login" ng-hide="showLoginForm || isAuthenticated()">
			<a ng-click="toggleLoginForm()">user login</a>
		</div>

		<div class="quick-links" ng-show="isAuthenticated()">
			<a href="/admin">Dashboard</a> |
			<a href="/admin/#/start">Help</a> |
			<a href="/admin/#/profile">Change password</a>
		</div>

		<div class="rcbmi-tag">
			<a href="http://www.regenstrief.org/centers/center-biomedical-informatics/" ><img src="images/rcbmi_tag.png" /></a>
		</div>
	</div>

</div>
