<div class="content container-fluid">
	<div class="header">
	  <h1>{{ player().name || 'No name on file yet' }} <small>{{ player().org }}</small></h1>
	</div>
	<div class="intro" ng-hide="isAuthenticated()">
		<p>Welcome to the Regenstrief Treasure Hunt!
		<span ng-show="numAchieved() == 0">
			Time to start hunting for treasure! Find someone below and have them scan your QR code.</span>
		<span ng-show="numAchieved() > 0 && numAchieved() < 5">
			You're on your way. Keep hunting for Regenstrief treasures.
		</span>
		<span ng-show="numAchieved() >= 5 && numAchieved() < 15">
			You've found {{ numAchieved() }} of Regenstrief's treasures.
		</span>
		<span ng-show="numAchieved() >= 15 && numAchieved() < 20">
			You've found {{ numAchieved() }} of Regenstrief's treasures. Impressive!
		</span>
		<span ng-show="numAchieved() >= 20">
		You're clearly a master treasure hunter. Well done!
		</span>
		</p>
	</div>
	<div class="row-fluid">
		<div class="achievement" ng-repeat="g in goals() | orderBy:goalSorter">
			<a ng-href="{{g.url}}" target="_blank">
			<div style="position: relative; left: 0; top: 0;">
				<img ng-src="{{g.image_url}}" ng-class="hasAchieved(g)?'achieved':''" width="100" style="position: relative; top: 0; left: 0px;"/>
				 <img ng-show="hasAchieved(g)" src="images/award.png" width="100" style="position: absolute; top: 0px; left: 50px; opacity:1.0"/>
			</div>
			{{g.name}}
			</a>
		</div>
	</div>

	<div class="qr" ng-show="player().url">
		<object ng-attr-data="/api/players/{{player().id}}/qr" type="image/svg+xml"></object>
	</div>


	<div class="login" ng-hide="!showLoginForm || isAuthenticated()">
		<input type="text" placeholder="username" ng-model="user.username" ng-keyup="(user.username=user.username.toLowerCase()) || ($event.keyCode == 27) && (showLoginForm=false)" onFocus="this.select()" show-focus="showLoginForm && !isAuthenticated()" /><br/>
		<input type="password" placeholder="password" ng-model="user.password" ng-keyup="(($event.keyCode == 13) && login()) || (($event.keyCode == 27) && (showLoginForm=false))" onFocus="this.select()" /><br/>
		<input type="button" value="Log In" ng-click="login()" />
	</div>
	<div class="login" ng-hide="showLoginForm || isAuthenticated()">
		<a ng-click="toggleLoginForm()">user login</a>
	</div>

</div>
