<div class="content">
	<div class="dashboard-metric">
    	<img src="images/person.png" /><br/>
    	<p class="dashboard-metric-value">{{ numberOfPlayers }}</p>
    	<p>active players</p>
	</div>
	<div class="dashboard-metric">
		<img src="images/trophy.png" /><br/>
		<p class="dashboard-metric-value">{{ numberAchieved }}</p>
		<p>found treasures</p>
	</div>
	<div>
		<h2>Top Players</h2>
		<p>Out of {{ numPlaying }} players with at least one award, here are people who have found more than one treasure.</p>
		<ol>
			<li ng-repeat="p in topPlayers | orderBy:'-achievements.length'">
				<span class="badge">{{ p.achievements.length }}</span>
				{{ p.name }}
			</li>
		</ol>
	</div>
	<div class="footer">
		<img src="images/rcbmi_tag.png" />
	</div>
</div>