<div class="content">
  <h1>Players</h1>
  <div>
    <input type="text" placeholder="Filter" onselect="this.select()" ng-model="searchText" />
  </div>
  <table class="table">
  	<thead>
      <th>ID</th>
      <th ng-click="sortOrder='name'">Name<span ng-show="sortOrder=='name'">&nbsp;<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></span></th>
      <th ng-click="sortOrder='org'">Org<span ng-show="sortOrder=='org'">&nbsp;<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></span></th>
      <th>Email</th>
      <th>Phone</th>
      <th>URL</th>
      <th ng-click="sortOrder='-achievements.length'">Achievements<span ng-show="sortOrder=='-achievements.length'">&nbsp;<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></span></th>
      <th>Claimed</th>
      <th>Disabled</th>
      <th></th>
  	</thead>
  	<tbody>
  		<tr ng-repeat="p in players | filter:searchText | orderBy:sortOrder">
        <td><a ng-href="/p/{{p.id}}" target="_blank">{{ p.id }}</a></td>
        <td><a href="#" editable-text="p.name" onaftersave="updatePlayerName(p)">{{ p.name || 'empty' }}</a></td>
        <td><a href="#" editable-text="p.org" onaftersave="updatePlayerOrg(p)">{{ p.org || 'empty' }}</a></td>
        <td><a href="#" editable-text="p.email" onaftersave="updatePlayerEmail(p)">{{ p.email || 'empty' }}</a></td>
        <td><a href="#" editable-text="p.phone" onaftersave="updatePlayerPhone(p)">{{ p.phone || 'empty' }}</a></td>
        <td>{{ p.url }}</td>
  			<td><span class="badge">{{ p.achievements.length }}</span></td>
        <td><span ng-show="p.active" class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        <td><span ng-show="p.disabled" class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        <td>
          <a title="Delete player" ng-click="deletePlayer(p)" ng-confirm-click="Can't be undone. Are you sure?"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
          <a ng-hide="players[$index].disabled" title="Disable player" ng-click="disablePlayer(players[$index])" ng-confirm-click="This will disable player's account. Are you sure?"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></a>
          <a ng-show="players[$index].disabled" title="Enable player" ng-click="enablePlayer(players[$index])"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
        </td>
  		</tr>
      <tr>
        <td>
          <input ng-model="player.id" placeholder="ID (leave blank)" >
        </td>
        <td>
          <input ng-model="player.name" placeholder="Name" />
        </td>
        <td>
          <input ng-model="player.org" placeholder="Org" />
        </td>
        <td>
          <input ng-model="player.email" placeholder="Email" />
        </td>
        <td>
          <input ng-model="player.phone" placeholder="Phone" />
        </td>
        <td>
          <input ng-model="player.url" placeholder="URL" />
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button class="btn btn-default" ng-click="addPlayer()">Add</button>
        </td>
      </tr>
  	</tbody>
  </table>
</div>
