<div class="content">
	<h1>You are one of Regenstrief's treasures.</h1>
	<p>Since we're having a treasure hunt, you need to be ready to be found! There are three things you need to learn from this page:</p>
	<ol>
		<li>Make sure your QR scanner is working.</li>
		<li>Know what to expect when you scan someone's QR code and how to handle problems.</li>
		<li>Know the no proxies rule</li>
	</ol>
	<p>Starting with this page on your laptop or tablet (not your phone) will make life easier. A shortlink for this page is <b>bit.ly/treasurehunt-user</b>.</p>
	<p class="tip">If you log in on someone else's or a public computer, be sure to go to the <a href="#/profile">Profile</a> tab and log out when your done.</p>

	<h2>Make sure your QR scanner is working</h2>
	<h3>WE STRONGLY RECOMMEND YOU USE <a href="http://www.quickmark.com.tw/En/basic/downloadMain.asp"><b>QuickMark</b></a>.</h3>
	<p>Other QR readers may work, but they work best if they open into Safari or Chrome instead of a built-in browser. Test your QR code reader. Open the following QR code on a desktop or tablet and scan it with your phone's QR reader:</p>
	<div class="qr">
		<object data="/api/players/test/qr" type="image/svg+xml"></object>
	</div>
	<p>If you haven't already logged in, you can find a subtle "user login" link at the bottom of the page beneath their QR code. Once logged in, the player should be granted an award for finding you (your picture should move to the end of the list and appear faded with an award decoration on it). If this isn't working for you, contact Burke or Sandy immmediately.</p>
	<p class="tip">Use the settings of your QR app to (1) turn of sound and (2) automatically open in your default browser. These settings, combined with temporarily placing the app where you can get to it quickly, will make it easy for you to scan players' QR codes.</p>

	<h2>How the game works</h2>
	<p>Players register at the Regensrief booth and pick up a sheet with all of our pictures and their own, unique QR code on it. Then they try to find each of us and have us scan their QR code. The top 25% of the most successful players will be put in a raffle to win an iPad.</p>
	<p>You should expect people to approach you during the meeting asking you to scan their QR code, so <b>please keep your phone with you and charged at all times during AMIA</b>.</p>
	<p>When you scan a code, you should see their name on the screen, which gives you the chance to introduce yourself and meet them. If their name hasn't been entered yet, take a moment to enter their name and organization.</p>

	<h2>No proxies rule</h2>
	<p>Please <b>only scan the QR code for the person in front of you</b>. If someone comes up to you with multiple QR codes or someone else's QR code(s), politely tell them that you are only allowed to scan <em>their</em> QR code.</p>
	<p>The point of this game is to get players to meet you. If you aren't meeting the person, then they're not playing the game.</p>
	<h2>Have fun!</h2>
	<p>If you have any problems, report them to Burke or Sandy.</p>
</div>