<div class="content">
	<h1>You are a Regenstrief treasure!</h1>
	<p>Get started in three easy steps:</p>
	<ol>
		<li>Make sure your QR scanner is working.</li>
		<li>Know what to expect when someone asks you to scan their QR code.</li>
		<li>Learn the "no proxies rule"</li>
	</ol>

	<h2>1. Make sure your QR scanner is working</h2>
	<p>Load <big><b>http://regen.st/thtest</b></big> on a computer or someone else's phone and scroll down to the test player's QR code</p>
	<ul>
		<li>We recommend installing <a href="http://www.quickmark.com.tw/En/basic/downloadMain.asp"><b>QuickMark</b></a>. See "Configuring QuickMark" below.</li>
		<li>iPhone users (as of iOS 11) can use the built-in camera; however, you can still save a tap by using QuickMark.</li>
	</ul>
	<p>Scanning the QR code should take you to the test player's game page where you should see a green bar at the top:</p>
	<div class="granted-banner">
		Awarded
	</div>
	<p>If you do not see the green bar, see troubleshooting below.</p>

	<h2>2. How the game works</h2>
	<p>Players register at our booth and get a sheet with all of our pictures and their unique QR code on it. They "hunt" for each of us to have us scan their QR code. The top 25% of the most successful players are put in a raffle to win a prize.</p>
	<p>You should expect people to approach you during the meeting asking you to scan their QR code, so <b>please keep your phone with you and charged at all times during AMIA</b>.</p>
	<p>When you scan a code, look for the green bar and their name on the screen, then introduce yourself and meet them.</p>

	<h2>3. The "no proxies" rule</h2>
	<p>Please <b>only scan the QR code for the person in front of you</b>. If someone comes up to you with multiple QR codes or someone else's QR code(s), politely tell them that you are only allowed to scan <em>their</em> QR code.</p>
	<p>The point of this game is to get players to meet you. If you aren't meeting the person, then they're not playing the game.</p>

	<h2>Have fun!</h2>
	<p>If you have any problems, report them to Burke or Sandy.</p>


	<h2>Configuring QuickMark</h2>

	<p>A properly configured QR reader makes this game much simpler. Ideally, when someone shows you a QR code, all you have to do is point your phone at it without any additional taps. Install <a href="http://www.quickmark.com.tw/En/basic/downloadMain.asp" target="_blank">QuickMark</a> and go into the settings to make these changes (based on iPhone, I'm assuming Android would offer the same):</p>
	<ol>
		<li>Auto Open > Browse URL: <b>On</b></li>
		<li>Browser: <b>Safari/Chrome</b> (<em>not</em> In App)</li>
		<li>Sound: <b>Off</b></li>
	</ol>

	<h2>Troubleshooting</h2>

	<h4>Trouble scanning a QR code</h4>
	<p>Use the built-in camera for iOS 11+ or install <a href="http://www.quickmark.com.tw/En/basic/downloadMain.asp"><b>QuickMark</b></a> on your phone. If you are using a QR Scanner App, make sure it is configured to open URLs in the native browser (not an embedded) browser.</p>

	<h4>Not seeing the green bar</h4>
	<p>If scanning the QR code takes you to the test player's page, but you do not see the green bar at the top, make sure you are logged in. There is a login option under the QR code.</p>
	<p>If logging in doesn't seem to work, make sure you are not using your browser in private mode. Authentication will not work in private mode.</p>

	<h4>Any other problems</h4>
	<p>Ask Burke or Sandy for help.</p>
</div>