body {
    padding-top: 50px;
}

a {
	cursor: pointer;
}

.login {
	font-size: 20pt;
    padding: 40px 15px;
    text-align: center;
}

.login input {
	margin-bottom: 15px;
}

.message {
	font-size: 15pt;
	width: 30%;
	text-align: center;
	margin-left: auto !important;
	margin-right: auto !important;
	background-color: #F0D0D0;
	border: thin solid #E0E0E0;
	border-radius: 10px;
	padding: 5px;
	margin: 10px 0 10px 0;
}

.content {
    padding: 40px 15px;
}

.tip {
	border: thin solid lightgrey;
	border-radius: 10px;
	padding: 1em;
	background-color: #FFFFE0;
}

.actions a {
	padding: 10px;
}

.dashboard-metric {
	width: 40%;
	max-width: 200px;
	text-align: center;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	color: grey;
}

.dashboard-metric img {
	width: 80%;
}

.dashboard-metric-value {
	font-size: 50pt;
	color: black;
	font-weight: bold;
}

.players-table {
-webkit-column-width: 50px;
   -moz-column-width: 50px;
        column-width: 50px;
}

.footer {
	margin-top: 50px;
	text-align: center;
}

.footer > img {
	width: 95%
}